<div class = "container color-dark">
  <div class="col">
    <h2>Bucket List Item</h2>
  </div>
  <div class="col">
      <p>Your List</p>
  </div>
<div class = "container color-light">
    <div class="col">
      <p class = "sm">Use this list to keep track of goals:</p>
      <form>
        <input type = "text" class="txt" name = "item" placeholder = "Life Goal">
        <input type = "submit" class = "btn" value = "Add Item">
      </form>
    </div>

    <div class="col">
        <p class = "life-contianer">Go to Fiji</p>
    </div>